<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
	 /*<![CDATA[*/
		$(document).ready(function(){
			
			$('#listAllBank').on('change' , function(){
				
				var bankid = $('#listAllBank option:selected').val();
				alert(bankid);
				$.ajax({
					
					type:'GET',
					contentType: "application/json",
					url:'/loadAllBranch/' + bankid + '.html' ,
					success:function(result){
						
						var result =  JSON.parse(result);
						var s ='<option>' +"select Branch" +'</option>';
						console.log(result.length);
						for(var i = 0 ; i< result.length ; i++ )
							{
							s +='<option  value="'+ result[i].Branchid +'" text="'+ result[i].branchname +'" >' + result[i].branchname +'</option>'
							}
						console.log(s);
						$('#listAllBranch').html(s);
					}
				})
				
			});
			
		
			$('#listAllBranch').on('change' , function(){
				var branchid = $('#listAllBranch option:selected').val();
				alert(branchid);

				$.ajax({
					type:'GET',
					contentType: "application/json",
					url:'/loadAllLoanType/' + branchid + '.html' ,
					success:function(result){
						
						var result =  JSON.parse(result);
						var l ='<option>' +"select LoanType" +'</option>';
						for(var i = 0 ; i< result.length ; i++ )
							{
						
							l +='<option th:field=*{"'+ result[i].loantypeid +'"} value="'+ result[i].loantypeid +'">' + result[i].loantypename +'</option>'
							
							}
						console.log("from listAllLoanType ");
						console.log(l);
						$('#listAllLoanType').html(l);
					}
				})
				
			});
			
			$('#listAllLoanType').on('change' , function(){
				var loanType = $('#listAllLoanType option:selected').val();
				alert(loanType);
				alert("here");
				$.ajax({
					type:'GET',
					contentType: "application/json",
					url:'/test/' + loanType + '.html' ,
					success:function(result){
						$('#listAllLoanType').html(l);
					}
				})
				
			});
			
		});
	 /*]]>*/
	
	</script>
	
	<style>
	
		#listAllCountry{
			width: 500px;
		}
		
		#listAllCountry
		{
			width: 500px;
		}
	
	</style>
</head>
<body>
	<h2>Hello</h2>
	<h1>Registration successful</h1>
	<h1 th:text = '${customer.firstname}'></h1>
	<form th:action="@{/pro}" th:object="${loanApplication}" method="post">
		<select id="listAllBank">
		 <option>Select Bank</option>
	             <option th:each="list : ${listAllBank}" th:value="${list.bankid}" th:text="${list.bankname}"></option>
	
	    </select>
	    <br/>
	    <select id="listAllBranch">	</select>  
		<br/>
		 <select id="listAllLoanType">	 </select> 
		 
		 <input type="text" th:field="*{loanamount}" />
		 <input type="text" th:field="*{duration}" placeholder="In months" />
		 
		 <input type="submit" value="Submit" />
		 
	 </form>
</body>
</html>